@font-face {
  font-family: "Titillium";
  src: url("/assets/fonts/titilliumweb-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium";
  src: url("/assets/fonts/titilliumweb-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium";
  src: url("/assets/fonts/titilliumweb-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

