---
import '@astrojs/starlight/style/markdown.css';
import { getPageCategory } from '~/util/getPageCategory';
---

<div class="sl-markdown-content">
	<slot />
	<span id="docsearch-lvl0" hidden>{getPageCategory(Astro.url)}</span>
</div>

<style>
	.sl-markdown-content :not(h1, h2, h3, h4, h5, h6, .sl-heading-wrapper) + :is(.sl-heading-wrapper) {
		margin-top: 1.5rem;
	}
</style>
