---
import logo from '~/assets/interledger-logo.svg?raw';

const main = 'https://interledger.org/';
const self = '/' + (Astro.locals.starlightRoute.locale || 'en') + '/getting-started/';
---

<span class="site-title sl-flex">
	<a class="astro-logo" href={main} set:html={logo} aria-label="Interledger Foundation" />
</span>

<style>
	.site-title {
		gap: 1rem;
	}
	.site-title a {
		display: flex;
	}
	.astro-logo {
		color: var(--sl-color-white);
	}
	.docs-logo {
		color: var(--sl-color-text-accent);
	}

	/* On focus, outline <img> and <svg> rather than <a> */
	.site-title a:focus-visible {
		outline: 0;
	}
	.site-title a:focus-visible > :global(*) {
		outline: auto;
		outline-offset: 0.33rem;
		border-radius: 1px;
	}
	/* Adjust svg sizes to full nav height */
	.site-title :global(svg) {
		--display-height: 1.75rem;
		/* Set height and let width scale proportionally */
		height: var(--display-height);
		width: auto;
		margin-block: calc((var(--sl-nav-height) - var(--display-height)) / 2);
		display: block;
	}
	/* Make the black text part of the logo visible on dark backgrounds */
	.site-title :global(svg path[fill="#000"]) {
		fill: var(--sl-color-white);
	}
</style>
