---
import logo from '~/assets/interledger-logo.svg?raw';

const main = 'https://interledger.me/';
---

<span class="site-title sl-flex">
	<a class="astro-logo" href={main} aria-label="Interledger Foundation">
		<span set:html={logo} />
		<span class="site-subtitle">Staff Portal</span>
	</a>
</span>

<style>
	.site-title {
		gap: 1rem;
		align-items: center;
	}
	.site-title a {
		display: flex;
		align-items: center;
		text-decoration: none;
		gap: 0.75rem;
	}
	.site-subtitle {
		color: var(--sl-color-white);
		font-size: var(--sl-text-sm);
		font-weight: 700;
	}
	.astro-logo {
		color: var(--sl-color-white);
	}
	.docs-logo {
		color: var(--sl-color-text-accent);
	}

	/* On focus, outline <img> and <svg> rather than <a> */
	.site-title a:focus-visible {
		outline: 0;
	}
	.site-title a:focus-visible > :global(*) {
		outline: auto;
		outline-offset: 0.33rem;
		border-radius: 1px;
	}
	/* Adjust svg sizes to full nav height */
	.site-title :global(svg) {
		--display-height: 1.75rem;
		/* Set height and let width scale proportionally */
		height: var(--display-height);
		width: auto;
		margin-block: calc((var(--sl-nav-height) - var(--display-height)) / 2);
		display: block;
	}
	/* Make the black text part of the logo visible on dark backgrounds */
	.site-title :global(svg path[fill="#000"]) {
		fill: var(--sl-color-white);
	}
</style>
